<!doctype html>
<html lang="en">

{{ partial "head.html" . }}

<body>

<div class="djangoday-logo">
    <div class="container" style="min-height: 100px;">
    <div style="padding: 10px 0;">
      <a href="/">
        <img src="djangocph.svg" style="margin-top: 20px;float: right; display: block; background-color: #fff; right: 0" class="rounded-circle">
      </a>
    <div class="main-update">
        Django Day 2020<br>
        Friday April 17th<br>
        Announced: Call for Participation NOW!
    </div>
    </div>
    </div>
</div>

  {{ partial "nav.html" . }}
  
  <div class="container">
    <article>
      {{ block "main" . }}{{ end }}
    </article>
  </div>

  {{ partial "bootstrap-js.html" . }}
</body>

</html>
