{{- define "main" -}}

{{- $original := ((site.GetPage "/talks").Resources.GetMatch (printf "*%s*" .Params.img_name)) -}}
{{- $new := "" -}}
{{- $new = $original.Fill "150x150" -}}

<h1>{{ .Title | markdownify }}</h1>
<img src="{{ $new.Permalink }}" alt="Speaker" class="img-speaker float-right" />
<h5>
{{ .Params.talk_by }}
<span class="talktime">{{ dateFormat "15:04" .Params.talk_date }}</span>
{{ if .Params.remote }}
remote 📽️
{{ end }}
{{ if .Params.stage }}
stage 🎤
{{ end }}
</h5>

<p>
{{ if .Params.twitter }}
<a href="https://twitter.com/{{ .Params.twitter }}" target="_blank">🐦 @{{ .Params.twitter }}</a>
{{ end }}
{{ if .Params.slides }}
<a href="{{ .Params.slides }}">🎞️ {{ .Params.slides }}</a>
{{ end }}
</p>

{{ .Content }}

{{ if .Params.youtube_id }}

<div class="embed-responsive embed-responsive-16by9">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ .Params.youtube_id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

{{ end }}

{{- end -}}
