<div style="clear: both"></div>
{{ range where (where site.RegularPages.ByDate "Section" "talks") "published" "!=" "false" }}

<a href="{{ .Permalink }}">

{{- $original := ((site.GetPage "/talks").Resources.GetMatch (printf "*%s*" .Params.img_name)) -}}
{{- $new := "" -}}
{{- $new = $original.Fill "150x150" -}}

<img src="{{ $new.Permalink }}" alt="Speaker" class="img-speaker float-right" />

<h2 class="no-link-styling">{{ .Title }}</h2>
</a>

<h5>{{ .Params.talk_by }}</h5>

<p>
{{ .Content }}
</p>
<div style="clear: both"></div>

{{ end }}
